body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}
.main{
    display: flex;
    margin: 20px 0 0;
    width: fit-content;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    
}
header {
    text-align: center;
    margin: 20px 0 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: fit-content;
    padding: 10px 0;
}
main {
    max-width: 800px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: fit-content;
}
section {
    margin-bottom: 20px;
}
h1, h2, h3 {
    color: #333;
    background-color: #fff;
}
ul {
    list-style: none;
    padding: 0;
}
li a {
    text-decoration: none;
    color: #007bff;
}
li a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    .main{
        display: block;
        flex-direction: column;
    }
}